<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Name:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Current Office:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Email:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="email"></div>
                        <div class="col"><label class="col-form-label">Default Office:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Password:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="password"></div>
                        <div class="col"><label class="col-form-label">Can Change Office:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Security Level:</label></div>
                        <div class="col"><input class="form-range form-control" type="range"></div>
                        <div class="col"><label class="col-form-label">Startup Caps Lock On:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Docket Prefix:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Startup Num Lock On:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Next Docket Number:&nbsp;&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="number"></div>
                        <div class="col"><label class="col-form-label">Startup Insert On:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Address:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Ops Code:&nbsp;</label></div>
                        <div class="col"><input class="form-range form-control" type="range"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Town:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Show Mobile Data Messages:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">County:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Show Internet Bookings:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Postcode:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Show Incoming Control Emails:&nbsp;</label></div>
                        <div class="col"><input type="checkbox"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Country:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label">Picture File:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Work Tel Number:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label"></label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Home Tel Number:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label"></label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Mobile Tel Number:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="text"></div>
                        <div class="col"><label class="col-form-label"></label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">Email2:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="email"></div>
                        <div class="col"><label class="col-form-label"></label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label class="col-form-label">xxxx:&nbsp;</label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                        <div class="col"><label class="col-form-label"></label></div>
                        <div class="col"><input class="form-control" type="hidden"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"><button class="btn btn-primary" type="button">Save</button><button class="btn btn-primary" type="button">Cancel</button></div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>